{% extends 'base.html' %}
{% block title %}about {% endblock title %}
{% block body %}
<div class="container text-center">
    <h4>Quality Control And Product Safty</h4>
    <blockquote class="blockquote text-center">
        
        <p >
             Good ambiance. Stewards are well behaved and friendly. we have a good verity of icecreams, waffles, shakes, 
             in short a good menu. Worth of try and pocket friendly.
             In  crowded Marathalli, we have parking in the basement. Definitely one should try.
             Just wow! The taste is absolutely worth the price.
             They've multiple topping items and they also let you make your own sundae. 
             If the restaurant ain't busy, you can get the chance of hands on experience in making sundaes with guidance.
             hickshakes are like death to the stomach, they're so amazing in both terms quality and quantity. 
             Staff is completely friendly and they even recommend if 
             you're not aware of which ice creams to select for sundaes.

             
            Parking is also available but only till 11pm. Overall completely recommended ice cream parlour.

        </p>
        <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
      </blockquote>
</div>
<div class="container my-3">
    <h3 class=" my-4 text-center">Famous Flavour</h3>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/8.jfif" class="d-block w-100" alt="...">
  
          <div class="card-body">
            <p class="card-text">Vaniila Flavour.</p>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/7.jfif" class="d-block w-100" alt="...">
  
          <div class="card-body">
            <p class="card-text">mixed Flavour</p>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/3.jfif" class="d-block w-100" alt="...">
  
  
          <div class="card-body">
            
            <p class="card-text">strawberry Flavour</p>
            
            </div>
          </div>
        </div>
      </div>
  
{% endblock body %}
