{% extends 'base.html' %}
{% block title %}services {% endblock title %}
{% block body %}
<div class="container my-3">
    <h3 class=" my-4 text-center">Softy Drink</h3>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/21.jfif" class="d-block w-100"style="height: 350px;" alt="...">
  
          <div class="card-body">
            <p class="card-text">Sprite</p>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/17.jfif" class="d-block w-100"style="height: 350px;" alt="...">
  
          <div class="card-body">
            <p class="card-text">Coca-cola</p>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/22.jfif" class="d-block w-100" style="height: 350px;"alt="...">
  
  
          <div class="card-body">
            
            <p class="card-text">Slice</p>
            
            </div>
          </div>
        </div>
      </div>
      <div class="container my-3">
        <h3 class=" my-4 text-center">Candy</h3>
      
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/23.jfif" class="d-block w-100"style="height: 350px;" alt="...">
      
              <div class="card-body">
                <p class="card-text">Stick Ice Cream</p>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/24.jfif" class="d-block w-100"style="height: 350px;" alt="...">
      
              <div class="card-body">
                <p class="card-text">Chocobar</p>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/26.jfif" class="d-block w-100" style="height: 350px;" alt="...">
      
      
              <div class="card-body">
                
                <p class="card-text">Ice Pop</p>
                
                </div>
              </div>
            </div>
          </div>
      
  
          <div class="container my-3">
            <h3 class=" my-4 text-center">Family Pack</h3>
          
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/31.jfif" class="d-block w-100"style="height: 350px;" alt="...">
          
                  <div class="card-body">
                    <p class="card-text">Vaniila Flavour.</p>
                    
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/32.jfif" class="d-block w-100" style="height: 350px;"alt="...">
          
                  <div class="card-body">
                    <p class="card-text">Vanila Ice Cream</p>
                    
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/35.jfif" class="d-block w-100" style="height: 350px;"alt="...">
          
          
                  <div class="card-body">
                    
                    <p class="card-text">Amul Real Ice Cream</p>
                    
                    </div>
                  </div>
                </div>
              </div>
          
{% endblock body %}
#coulld u plz check the given infi is inffuf or i need add more info